@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.logo img{
    width: 120px;
    padding-left: 30px;
    border-radius: 50%;
}
*{
    box-sizing: border-box;
}
.about-us{
    position: relative;
    top: 130px;
    
}
.carousel-inner img{
    height: 100vh;
}
#about-footer{
    position: relative;
    top: 200px;
}
.nav-about{
    position: absolute;
    top: 0px;
}
.about-us h1{
    text-align: center;
}
.about-us p{
    position: relative;
    left: 100px;
}
.about-us button{
    width: 300px;
    border-radius: 10px;
    background-color: aqua;
    position: relative;
    left: 300px;
    top: 30px;
}
.about-us a{
    text-decoration: none;
    color: white;
}
 .first{
    /* background-image: url("photos/Private/hero-bg.jpg"); */
    background-color: rgb(41, 41, 59);
    /* background-image: url("photos/Private/delicacy4.jpg"); */
    height: 80vh;
    width: 100vw;
    position: relative;
    top: 15vh;
    
}
.contact {
        position: relative;
        top: 150px;
        
}
#contact{
    position: relative;
    top: 120px;
    height: 40vh;
    background-color: palegoldenrod;
}
#contact h3{
    display: none;
}
#contact h2{
    text-align: center;
}
#contact a{
    position: relative;
    top: 50px;
    right: 80vw;
    font-size: smaller;
    display: none;  

    
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.swiper{
    position: relative;
    top: 100px;
    height: 500px;
    width: 70vw;
    padding-left: 50%;
    /* opacity: 0; */
    
}
.swiper-button-prev{
    width: 2px;
}
.first-div {
    position: relative;
    top: 80px;
    text-align: center;
    z-index: 6;
    /* background-image: url("photos/Private/hero-bg.jpg"); */

    height: 100vh;
}
.first-div h3{
    color:rgb(179, 45, 45);
    position: relative;
    top: 50px;
}
.mobile-first{
    display: none;
}
.first h1{
    position: relative;
    
    text-align: center;
    font-size: 70px;
    color: rgb(21, 21, 34);
    font-weight: 600;
}
.first a{
    animation: chiboys;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 1s;
    font-size: 25px;
}
@keyframes chiboys{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.first p{
    padding: 0px 10px;
    text-transform: capitalize;
    color: rgb(21, 21, 34);
    box-shadow: black;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 100px;
    
}

body{
    /* overflow-y: hidden; */
    
    font-family: 'Fredoka One', cursive;
    overflow-x: hidden;
}
.togglers{
    display: none;
}
nav{
    display: flex;
    height: 15vh;
    background-color: rgb(224, 11, 11);
    position: fixed;
    z-index: 50;;
}
    

ul{
    display: flex;
    position: absolute;
    right: 50px;
    top: 30px; 
}
ul li{
    margin: 0px 50px;
    list-style: none;
    font-weight: bolder;
    
}
ul a{
    text-decoration: none;
    color: white;

}
ul a:hover{
    background-color: blueviolet;
    
    color: white;
    
    
}
footer{
    position: relative;
    height: 30vh;
    margin-top: 90px;
    width: 100%;
    top: 50px;
    left: 10px;

}
footer p, footer li{
    color: white;
}
footer img{
    position: relative;
    top: 50px;
    right: 150px;
}
/* media query 900px */
@media (max-width: 900px){
    ul {
        position: absolute;
        right: 20px;
    }
    #contact a{
        opacity: 0;
    }
}
@media (max-width: 820px){
    .footer-icons a{
        font-size: 12px;
        position: relative;
        left: 50px;
    }
    .about-us{
        position: absolute;
        left: 10px;
    }
    .about-us p{
        font-size: small;
        position: absolute;
        left: 10px;

    }
    .about-us button{
        position: absolute;
        left: 10px;
        width: 200px;
        top: 430px;
    }
    #about-footer{
        position: relative;
        top: 700px;
    }
}
/* media query 750px */
@media (max-width: 750px){
    ul{
        position: absolute;
        right: 0px;
    }
    .footer-icons a{
        font-size: 8px;
        position: relative;
        left: 50px;
    }
    
}
@media (max-width: 699px){
    /* footer .footer-icons{
        position: relative;
        left: 130px;
    } */
    #contact a{
        opacity: 1;
    }
    
    /* .footer-contact{
        position: relative;
        right: 150px;
    } */
    
}
/* mobile view */
@media (max-width: 720px){
    .nav-menu{
        height: 90vh;
        width: 60vw;
        flex-direction: column;
        background-color: white;
        /* justify-content: space-evenly; */
        text-align: center;
        border-radius: 0px 0px 0px 50%;
        position: absolute;
        top: 100px;
        /* transform: translateX(100%); */
        z-index: 100;
        right: 100%;
        
        justify-content: center;

        
        
    }
    .nav-menu li{
        margin-bottom: 100px;
        margin-top: 10px;
    }
    .first{
        display: none;
    }

    .logo img{
        padding: 0px;
        margin: 0px;
        width: 80px;
        position: relative;
        right: 20px;
        top: 15px;
    }
    .togglers{
        display: block;
        height: 10px;
        position: absolute;
        right: 20px;
        top: 50px;
        cursor: pointer;
    }
    ul a{
        color: black;
        margin-bottom: 50px;
        font-size: larger;
        font-weight: bolder;
    }
    .togglers div{
        height: 2px;
        margin: 3px;
        width: 25px;
        background-color: white;
    }
    .active{
        /* transform: translateX(0%); */
        right: 0%;
    }
    .transform .toggler1 {
        transform: rotate(45deg) translateY(7px);
    }
    .transform .toggler2 {
        
        opacity: 0;
    }
    .carousel-inner img{
        height: 70vh;
    }
    .transform .toggler3 {
        
        transform: rotate(-45deg) translateY(-7px);
    }
    .mobile-first{
        display: block;
        /* background-image: url("photos/Private/hero-bg.jpg"); */
    height: 70vh;
    width: 100vw;
    position: relative;
    
    
    
    }
    .mobile-first h1{
        position: relative;
        
        text-align: center;
        font-size: 40px;
        color: darkred;
        font-weight: 600;
        color: white;
    }
    .mobile-first a{
        animation: chiboys;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-duration: 1s;
        font-size: 15px;
    }
    @keyframes chiboys{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .mobile-first p{
        padding: 0px 10px;
        text-transform: capitalize;
        color: whitesmoke;
        box-shadow: black;
        text-align: center;
        font-size: 13px;
        font-weight: bolder;
        padding-top: 100px;
        
    }
    .swiper{
        height: 50vh;
        width: 100vw;
    }
    .first-div{
        background-image: none;
        position: relative;
        top: 3px;
        /* background-color: brown; */
        height: 70vh;
    }
    body{
        overflow-x:hidden;
    }
    .first-div h3{
        color: black;
        position: relative;
        display: none;
    }
    
    #contact{
        position: absolute;
        top: 500px;
        width: 100vw;
        background-color: white;
        
        
    }
    #contact h2{
        display: none;
    }
    #contact h3{
        display: block;
        text-align: center;
        font-size: 20px;
    }
    #contact a{
        position: relative;
        left: 20px;
        top: 10px;
        display: block;
        color: blue;
    }
    footer{
        height: 60vh;
        position: relative;
        top: 290px;
    
    }
    footer p{
        text-align: center;
    }
    .footer-icons{
        flex-direction: column;
        margin: 0px 0px 20px 70px;
        position: relative;
        right: 100px;
        /* left: 30px; */
        
    }
    .footer-icons a{
        color: white;
        /* text-align: center; */
        font-size: 20px;

    }
    
    footer img{
        position: relative;
        top: 160px;
        
    }
    #copy{
        position: relative;
        top: 110px;
        color: white;
    }
   
    
}


